/* Font Poppins */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
body {
  font-family: "Roboto", sans-serif;
}


.titleApp{
    background-color: rgb(22, 179, 56);
    color: rgb(245, 241, 255);
    border-radius: 10px;
}
